<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%=__('nav.main-page')%></title>
</head>
<body>
    <header>
        <div>            
            <a href="/">
                <img src="/images/logo.gif" alt="Goassign.me logo" >
            </a>
        </div>
        <div class="container-header"> 
            <div class="langs">
                <ul>
                    <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : ''%>">PL</a></li>
                    <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>
                </ul>
            </div>
                <nav>
                    <ul>
                        <% if(loggedUser) { %>
                            <li><a href="/users" class="<%= navLocation == 'User' ? 'btn-style-selected' : 'btn-style'%>"><%=__('nav.users')%></a></li>
                            <li><a href="/usernotes" class="<%= navLocation == 'Usernote' ? 'btn-style-selected' : 'btn-style'%>"><%=__('nav.usernotes')%></a></li>
                            <li><a href="/notes" class="<%= navLocation == 'Note' ? 'btn-style-selected' : 'btn-style'%>"><%=__('nav.notes')%></a></li>
                        <% } else { %>
                            <li><a href="/login" class="<%= navLocation == 'Login' ? 'btn-style-selected' : 'btn-style'%>"><%=__('nav.login')%></a></li>
                        <% } %>
                    </ul>
                </nav>
            <% if(loggedUser) { %>
                <div class="user">
                    <div class="span-hello">
                        <span><%=__('nav.greeting')%>,</span>
                    </div>
                    <div>                   
                        <p><%=loggedUser.firstname + " " + loggedUser.lastname%></p>  
                        <a href="/logout"><%=__('nav.logout')%></a>
                    </div>
                </div>
            <% } %>
        </div>
    </header>