<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>       
                <h2><%= title %></h2>
                <form class="form" method="post" action="<%= action %>" novalidate>
                    <input type="hidden" name="_id" value="<%= user._id %>">

                    <label for="username"><%=__('user.fields.username')%>: <span class="symbol-required">*</span></label>
                    <input type="text" name="username" id="username" value="<%= user.username %>" <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.path.includes('username')))? 'error-input' : '' %>">
                    <span id="errorUsername" class="errors-text">
                        <div style="display: none">
                            <span id="usernameMsgNotEmpty"><%= __('user.errors.username.notEmpty') %></span>
                            <span id="usernameMsgLen"><%= __('user.errors.username.len') %></span>
                        </div>
                        <% if (errors.find(e => e.path.includes('username'))) { %>
                            <%= __(errors.find(e => e.path.includes('username')).message) %>
                        <% } %>
                    </span> 
                    
                    <label for="email"><%=__('user.fields.email')%>: <span class="symbol-required">*</span></label>
                    <input type="email" name="email" id="email" value="<%= user.email %>" <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.path.includes('email')))? 'error-input' : '' %>">
                    <span id="errorEmail" class="errors-text">
                        <div style="display: none">
                            <span id="emailMsgNotEmpty"><%= __('user.errors.email.notEmpty') %></span>
                            <span id="emailMsgLen"><%= __('user.errors.email.len') %></span>
                            <span id="emailMsgIsEmail"><%= __('user.errors.email.isEmail') %></span>
                        </div>
                        <% if (errors.find(e => e.path.includes('email'))) { %>
                            <%= __(errors.find(e => e.path.includes('email')).message) %>
                        <% } %>
                    </span> 
                    
                    <% if(mode != 'details') { %>
                        <label for="password"><%=__('user.fields.password')%>: <span class="symbol-required">*</span></label>
                        <input type="password" name="password" id="password" <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.path.includes('password')))? 'error-input' : '' %>">
                        <span id="errorPassword" class="errors-text">
                            <div style="display: none">
                                <span id="passwordMsgNotEmpty"><%= __('user.errors.password.notEmpty') %></span>
                                <span id="passwordMsgLen"><%= __('user.errors.password.len') %></span>
                            </div>
                            <% if (errors.find(e => e.path.includes('password'))) { %>
                                <%= __(errors.find(e => e.path.includes('password')).message) %>
                            <% } %>
                        </span> 
                    <% } %>

                    <label for="firstname"><%=__('user.fields.firstname')%>: <span class="symbol-required">*</span></label>
                    <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>" <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.path.includes('firstname')))? 'error-input' : '' %>">
                    <span id="errorFirstname" class="errors-text">
                        <div style="display: none">
                            <span id="firstnameMsgNotEmpty"><%= __('user.errors.firstname.notEmpty') %></span>
                            <span id="firstnameMsgLen"><%= __('user.errors.firstname.len') %></span>
                        </div>
                        <% if (errors.find(e => e.path.includes('firstname'))) { %>
                            <%= __(errors.find(e => e.path.includes('firstname')).message) %>
                        <% } %>
                    </span> 

                    <label for="lastname"><%=__('user.fields.lastname')%>: <span class="symbol-required">*</span></label>
                    <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.path.includes('lastname')))? 'error-input' : '' %>">
                    <span id="errorLastname" class="errors-text">
                        <div style="display: none">
                            <span id="lastnameMsgNotEmpty"><%= __('user.errors.lastname.notEmpty') %></span>
                            <span id="lastnameMsgLen"><%= __('user.errors.lastname.len') %></span>
                        </div>
                        <% if (errors.find(e => e.path.includes('lastname'))) { %>
                            <%= __(errors.find(e => e.path.includes('lastname')).message) %>
                        <% } %>
                    </span>  

                    <div style="display: none">
                        <span id="summaryMsg"><%= __('errors.form') %></span>
                    </div>
                    <p id="errorSummary" class="errors-text <%=(errors.find(e => e))? '' : 'hidden-error' %>"><%=__('errors.form')%></p>

                    <div class="form-buttons">
                        <% if (mode == 'details') { %>
                            <a href="/users/edit/<%= user._id %>" class="form-button-submit"><%=__('form.actions.edit')%></a>
                        <% } %>
                        <% if (mode == 'edit') { %>
                            <input type="submit" value="<%=__('form.actions.confirm')%>" class="form-button-submit">
                        <% } %>
                        <% if (mode == 'create') { %> 
                            <input type="submit" value="<%=__('form.actions.add')%>" class="form-button-submit">
                            <a href="/users" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
                        <% } %>
                    </div>
                </form>
            </section>
        </div>
        <% if (mode == 'details' || mode == 'edit') { %>
            <div class="main-divider">
                <section>
                    <h2><%=__('user.form.title')%></h2>
                    <table class="table-list table-permission">
                        <thead>
                            <tr>
                                <th rowspan="2"><%=__('note.fields.title')%></th>
                                <th rowspan="2"><%=__('note.fields.implementation')%></th>
                                <th colspan="2"><%=__('usernote.form.title')%></th>
                            </tr>
                            <tr>
                                <th><%=__('usernote.fields.write')%></th>
                                <th><%=__('usernote.fields.delete')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let un of oldUser.usernotes) { %> 
                                <tr>
                                    <td><a href="/notes/details/<%= un.note._id %>"></a><%= un.note.title %></td>
                                    <td class="display"><%= un.note.implementation %></td>
                                    <td class="table-checkbox">
                                        <input type="checkbox" id="write" name="write" value="permission" <%= (un.write == true)? 'checked' : '' %> disabled>
                                    </td>
                                    <td class="table-checkbox">
                                        <input type="checkbox" id="delete" name="delete" value="permission" <%= (un.delete == true)? 'checked' : '' %> disabled>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>       
                    <div class="form-buttons">
                        <a href="/users" class="form-button-cancel"><%=__('form.actions.return')%></a>
                    </div>
                </section>
            </div>
        <% } %>
    </main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationFormUsers.js"></script>
<%- include('../../partials/footer') %>
