<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>
                <h2><%=__('note.list.title')%></h2>
                <% if(notes == null || notes.length == 0) { %>
                    <h3><%=__('note.list.noData')%></h3>
                <% } else { %>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th><%=__('note.fields.title')%></th>
                                <th><%=__('note.fields.implementation')%></th>
                                <th class="display"><%=__('list.actions.title')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let note of notes) { %>
                                <tr>
                                    <td><%= note.title %></td>
                                    <td class="table-date">
                                        <input type="text" name="date" id="date" value="<%= note.implementation %>" disabled>
                                    </td>
                                    <td class="display">
                                        <ul class="list-actions">
                                            <li><a href="notes/details/<%= note._id %>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
                                            <li><a href="notes/edit/<%= note._id %>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
                                            <li><a href="notes/delete/<%= note._id %>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="display-small">
                                    <td colspan="2">
                                        <ul class="list-actions">
                                            <li><a href="notes/details/<%= note._id %>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
                                            <li><a href="notes/edit/<%= note._id %>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
                                            <li><a href="notes/delete/<%= note._id %>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %> 
                <div class="form-buttons">
                    <a href="notes/add" class="button-add"><%=__('note.list.addNew')%></a>
                </div>
            </section>
        </div>
    </main>
<%- include('../../partials/footer') %>
