<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section> 
                <h2><%= title %></h2>
                <form class="form" method="post" action="<%= action %>" novalidate onsubmit="">
                    <input type="hidden" name="_id" value="<%= usernote._id %>">

                    <label for="user"><%=__('usernote.fields.user')%>: <span class="symbol-required">*</span></label>
                    <select name="user" id="user" required <%= (mode == 'details')? 'disabled' : '' %> class="<%=(errors.find(e => e.name == 'user'))? 'error-input' : '' %>">
                        <option value="default">-- <%=__('usernote.form.select.user')%> --</option>
                        <% for (let u of allUsers) { %>
                            <option value="<%= u._id %>" label="<%= u.username %>"
                                <% if(errors.find(e => e)) { %>
                                    <%= (usernote.user && u._id.toString() == usernote.user.toString())? 'selected' : ''%>></option>
                                <% } else {%>
                                    <%= (usernote.user && u._id.toString() == usernote.user._id.toString())? 'selected' : ''%>></option>
                                <% } %>
                        <% } %>
                    </select>
                    <span id="errorUser" class="errors-text">
                        <div style="display: none">
                            <span id="userMsgNotEmpty"><%= __('usernote.errors.user.notEmpty') %></span>
                        </div>
                        <% if (errors.find(e => e.name == 'user')) { %>
                            <%= __('usernote.errors.user.notEmpty') %>
                        <% } %>
                    </span>
                    
                    <label for="note"><%=__('usernote.fields.note')%>: <span class="symbol-required">*</span></label>
                    <select name="note" id="note" required <%= (mode == 'details')? 'disabled' : ''%> class="<%=(errors.find(e => e.name == 'note'))? 'error-input' : '' %>">
                        <option value="default">-- <%=__('usernote.form.select.note')%> --</option>
                        <% for (let n of allNotes) { %>
                            <option value="<%= n._id %>" label="<%= n.title %>"
                                <% if(errors.find(e => e)) { %>
                                    <%= (usernote.note && n._id.toString() == usernote.note.toString())? 'selected' : ''%>></option>
                                <% } else {%>
                                    <%= (usernote.note && n._id.toString() == usernote.note._id.toString())? 'selected' : ''%>></option>
                                <% } %>
                        <% } %>
                    </select>
                    <span id="errorNote" class="errors-text">
                        <div style="display: none">
                            <span id="noteMsgNotEmpty"><%= __('usernote.errors.note.notEmpty') %></span>
                        </div>
                        <% if (errors.find(e => e.name == 'note')) { %>
                            <%= __('usernote.errors.note.notEmpty') %>
                        <% } %>
                    </span>
                    
                    <h4><%=__('usernote.fields.user')%></h4>
                    
                    <label for="write"><%=__('usernote.fields.write')%>:</label>
                    <input type="checkbox" id="write" name="write" <%= (usernote.write == true)? 'checked' : ''%> <%= (mode == 'details')? 'disabled' : ''%>>
                    
                    <label for="delete"><%=__('usernote.fields.delete')%>:</label>
                    <input type="checkbox" id="delete" name="delete" <%= (usernote.delete == true)? 'checked' : ''%> <%= (mode == 'details')? 'disabled' : ''%>>

                    <div style="display: none">
                        <span id="summaryMsg"><%= __('errors.form') %></span>
                    </div>
                    <p id="errorSummary" class="errors-text <%=(errors.find(e => e))? '' : 'hidden-error' %>"><%=__('errors.form')%></p>

                    <div class="form-buttons">
                        <% if (mode == 'details') { %>
                            <a href="/usernotes/edit/<%= usernote._id %>" class="form-button-submit"><%=__('form.actions.edit')%></a>
                        <% } %>
                        <% if (mode == 'edit') { %>
                            <input type="submit" value="<%=__('form.actions.confirm')%>" class="form-button-submit">
                        <% } %>
                        <% if (mode == 'create') { %> 
                            <input type="submit" value="<%=__('form.actions.add')%>" class="form-button-submit">
                            <a href="/usernotes" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
                        <% } %>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationFormUsernotes.js"></script>
<%- include('../../partials/footer') %>
