<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>
                <h2><%=__('usernote.list.title')%></h2>
                <% if(usernotes == null || usernotes.length == 0) { %>
                    <h3><%=__('user.list.noData')%></h3>
                <% } else { %>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th rowspan="2"><%=__('user.fields.username')%></th>
                                <th rowspan="2"><%=__('note.fields.title')%></th>
                                <th colspan="2"><%=__('usernote.list.title')%></th>
                                <th rowspan="2" class="display"><%=__('list.actions.title')%></th>
                            </tr>
                            <tr>
                                <th><%=__('usernote.fields.write')%></th>
                                <th><%=__('usernote.fields.delete')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let usernote of usernotes) { %>
                                <tr>
                                    <td><%= usernote.user.username %></td>
                                    <td><div class="note-title"><%= usernote.note.title %></div></td>
                                    <td class="table-checkbox">
                                        <input type="checkbox" id="write" name="canWrite" value=<%= (usernote.write == true)? 'true' : 'false'%> <%= (usernote.write == true)? "checked" : "" %> disabled>
                                    </td>
                                    <td class="table-checkbox">
                                        <input type="checkbox" id="delete" name="canDelete" value=<%= (usernote.delete == true)? 'true' : 'false'%> <%= (usernote.delete == true)? "checked" : "" %> disabled>
                                    </td>
                                    <td class="display">
                                        <ul class="list-actions">
                                            <li><a href="usernotes/details/<%= usernote._id %>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
                                            <li><a href="usernotes/edit/<%= usernote._id %>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
                                            <li><a href="usernotes/delete/<%= usernote._id %>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="display-small">
                                    <td colspan="2">
                                        <ul class="list-actions">
                                            <li><a href="usernotes/details/<%= usernote._id %>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
                                            <li><a href="usernotes/edit/<%= usernote._id %>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
                                            <li><a href="usernotes/delete/<%= usernote._id %>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %> 
                <div class="form-buttons">
                    <a href="usernotes/add" class="button-add"><%=__('usernote.list.addNew')%></a>
                </div>
            </section>
        </div>
    </main>
<%- include('../../partials/footer') %>
